<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="hu.bme.thesis.dsl.sensorDsl.SensorDslPackage" genModel="model/generated/SensorDsl.genmodel" uri="http://www.bme.hu/thesis/dsl/SensorDsl"/>
  </extension>
  <extension id="hu.bme.thesis.dsl.queries.Patterns" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.thesis.dsl.queries.Patterns" id="hu.bme.thesis.dsl.queries.Patterns"/>
  </extension>
</plugin>
